<script>
    function setHiddenFields() {        
        var startDate = document.getElementById("date");
        document.getElementById("module_eventbundle_eventtype_date_date_year").value=date.value.substr(0,4);
        document.getElementById("module_eventbundle_eventtype_date_date_month").value=date.value.substr(5,2);
        document.getElementById("module_eventbundle_eventtype_date_date_day").value=date.value.substr(8,2);
        document.getElementById("module_eventbundle_eventtype_date_time_hour").value=date.value.substr(11,2);
        document.getElementById("module_eventbundle_eventtype_date_time_minute").value=date.value.substr(14,2);
    } 
    
    function hideMessage(type) {
        document.getElementsByClassName(type)[0].style.display="none";
    }
</script>

<div id="page-heading">
    <h1>Event edit</h1>
</div>

<div class="content-box-outer">
	<div class="content-box">
		<div class="content-box-content">
                        {% if main_content['status'] and main_content['message'] != "" %}
                            <div class="message success">
                                <div class="content"> {{ main_content['message'] }} </div>
                                <div class="close">
                                    <a href="javascript:hideMessage('success')">
                                        <img alt="close" src="/ProjectX/web/bundles/coreentrance/images/table/icon_close_success.gif">
                                    </a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        {% elseif not main_content['status'] and main_content['message'] != "" %}
                            <div class="message error">
                                <div class="content"> {{ main_content['message'] }} </div>
                                <div class="close">
                                    <a href="javascript:hideMessage('error')">
                                        <img alt="close" src="/ProjectX/web/bundles/coreentrance/images/table/icon_close_error.gif">
                                    </a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        {% endif %}
                        <form action="{{ path('events_update', { 'id': main_content['entity'].id }) }}" method="post" class="form" {{ form_enctype(main_content['edit_form']) }}>
                            <div id="module_eventbundle_eventtype">
                                {% for element in main_content['edit_form'] if loop.first %}
                                <div class="col">    
                                    {{ form_row(element) }}
                                </div>
                                <div class="clear"></div>
                                {% endfor %}
                                <div class="col">
                                    <label>Name:</label>
                                    <input type="text" id="module_eventbundle_eventtype_name" name="module_eventbundle_eventtype[name]" required="required" value="{{ main_content['entity'].name }}" />
                                </div>
                                <div class="clear"></div>
                                <div class="col">
                                    <label>Description:</label>
                                    <input type="text" id="module_eventbundle_eventtype_description" name="module_eventbundle_eventtype[description]" required="required" value="{{ main_content['entity'].description }}" />
                                </div>
                                <div class="clear"></div>
                                <div class="col">
                                    <label>Date:</label>
                                    <input type="text" id="date" onchange="setHiddenFields();" value="{% if main_content['entity'].date!="" %}{{ main_content['entity'].date.date }} {% endif %}" />
                                </div>
                                <div class="col">
                                    <div id="module_eventbundle_eventtype_date">
                                        <div id="module_eventbundle_eventtype_date_date">
                                            <input id="module_eventbundle_eventtype_date_date_year" name="module_eventbundle_eventtype[date][date][year]" type="hidden" value="{{main_content['entity'].date.date|slice(0, 4)}}" />
                                            <input id="module_eventbundle_eventtype_date_date_month" name="module_eventbundle_eventtype[date][date][month]" type="hidden" value="{{main_content['entity'].date.date|slice(5, 2)}}" />
                                            <input id="module_eventbundle_eventtype_date_date_day" name="module_eventbundle_eventtype[date][date][day]" type="hidden" value="{{main_content['entity'].date.date|slice(8, 2)}}" />
                                        </div>    
                                        <div id="module_eventbundle_eventtype_date_time">
                                            <input id="module_eventbundle_eventtype_date_time_hour" name="module_eventbundle_eventtype[date][time][hour]" type="hidden" value="{{main_content['entity'].date.date|slice(11, 2)}}" />
                                            <input id="module_eventbundle_eventtype_date_time_minute" name="module_eventbundle_eventtype[date][time][minute]" type="hidden" value="{{main_content['entity'].date.date|slice(14, 2)}}" />
                                        </div>   
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="col no-label">
                                <input type="submit" value="Update" />
                                <a href="{{ path('events_delete', { 'id': main_content['entity'].id }) }}" class="button">Delete</a>
                                <a href="{{ path('events') }}" class="button">Back</a>
                            </div>
                            <div class="clear"></div>                        
                        </form>
		</div>
	</div>
</div>