<div id="page-heading">
    <h1>Page List</h1>
</div>

<div class="content-box-outer">
	<div class="content-box">
		<div class="content-box-content">
			{{ macros.render_flashes() }}
			<div class="col">
				<table class="table records_list">
					<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Actions</th>
					</tr>
					</thead>
						<tbody>
						{% for entity in main_content['entities'] %}
							<tr>
								<td><a class="icon_cb icon-checkbox info-tooltip" title="Checkbox"></a></td>
								<td><a href="{{ path('page_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
								<td>
									<a href="{{ path('page_edit', { 'id': entity.id }) }}" class="icon icon-edit info-tooltip" title="Edit"></a>
									<a href="{{ path('page_delete', { 'id': entity.id }) }}" class="icon icon-delete info-tooltip" title="Delete"></a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="6">No Data</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="clear"></div>
			<div class="col no-label">
				<a href="{{ path('page_new') }}" class="button">New Page</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
