{%import '::macros.html.twig' as macros %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		{% block title %}Backend Welcome!{% endblock %}
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/coreentrance/css/backend.css') }}" />
		{% endblock %}
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				{% block header %}
					<div id="header-content">
						<div id="logo">
							<a href=""><img src="{{ asset('bundles/coreentrance/images/shared/logo.png') }}" width="156" height="40" alt="" /></a>
						</div>
						<div id="top-search">
							<form action="#" method="post">
								<div class="col">
									<input type="text" value="" placeholder="Suche..." class="top-search-inp" />
								</div>
								<div class="col">
									<input type="image" src="{{ asset('bundles/coreentrance/images/shared/top_search_btn.gif') }}"  />
								</div>
							</form>
						</div>
						<div class="clear"></div>
					</div>
				{% endblock %}
			</div>

			<div id="navigation">
				{% block navigation %}
					<div class="nav-bg">
						<div class="nav-wrapper">
							<div class="main-nav">
								 <ul class="elements">
									 <li><a href="#"><b>Dashboard</b></a></li>
									 <li class="active"><a href="#"><b>Modules</b></a></li>
									 <li><a href="#"><b>Settings</b></a></li>
								 </ul>
							</div>
						</div>
					</div>
					<div class="nav-bg">
						<div class="nav-wrapper">
							<div class="sub-nav">
								<ul class="elements">
									<li><a href="#">Modul1</a></li>
									<li><a href="#">Modul 2</a></li>
									<li><a href="#">Modul 3</a></li>
									<li class="active"><a href="#"><b>Modul 4</b></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				{% endblock %}
			</div>
			<div class="clear"></div>

			<div id="content">
			    <div id="main">
					{% block main %}
						<div id="page-heading">
							<h1>Titel von Modul 1</h1>
						</div>

						<div class="content-box-outer">
							<div class="content-box">
								<div class="content-box-content">
									<div class="messages">
										{{ macros.message('warning', 'Die ist eine Warnung') }}
										{{ macros.message('info', 'Hier kann eine Info dargestellt werden') }}
										{{ macros.message('success', 'Ihre Informationen wurden erfolgreich gespeichert') }}
										{{ macros.message('error', 'Es gabe Probleme mit dem Speichern ihrer Informationen') }}
									</div>



								</div>
							</div>
						</div>

					{% endblock%}
			    </div>

			</div>
		</div>
		{% block javascripts %}{% endblock %}
	</body>
</html>


