{%import '::macros.html.twig' as macros %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Backend Welcome!{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/coreentrance/css/backend.css') }}" />
		{% endblock %}
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				{% block header %}
					<div id="header-content">
						<div id="logo">
							<a href="{{ path('backend')}}"><img src="{{ asset('bundles/coreentrance/images/shared/logo.png') }}" width="156" height="40" alt="MeyToo" /></a>
						</div>
						<div id="top-search">
							<form action="#" method="post">
								<div class="col">
									<input type="text" value="" placeholder="Suche..." class="top-search-inp" />
								</div>
								<div class="col">
									<input type="image" src="{{ asset('bundles/coreentrance/images/shared/top_search_btn.gif') }}"  />
								</div>
							</form>
						</div>
						<div class="clear"></div>
					</div>
				{% endblock %}
			</div>

			{{ macros.render_backend_menu(navigation) }}

			<div id="content">
			    <div id="main">
					{% block main %}
						{% if main_content|default() %}
							{% include main_content['_template'] %}
						{% else %}
							{% include '::nothing_found.html.twig' %}
						{% endif %}
					{% endblock%}

					<div class="clear">&nbsp;</div>
					<div id="footer">
						{% block footer %}
						<div id="footer-left">
							Admin Skin &copy; Copyright Internet Dreams Ltd. <a href="">www.netdreams.co.uk</a>. All rights reserved.</div>
						<!--  end footer-left -->
						<div class="clear">&nbsp;</div>
						{% endblock %}
					</div>
			    </div>
			</div>

		</div>
		{% block javascripts %}{% endblock %}
	</body>
</html>


