{% macro message (type, content)%}
	<div class="message {{type}}">
		<div class="content">
			{{ content }}
		</div>
		<div class="close">
			<a href="#" ><img src="{{ asset('bundles/coreentrance/images/table/icon_close_'~type~'.gif')}}" alt="close" /></a>
		</div>
		<div class="clear"></div>
	</div>
{% endmacro %}

{% macro render_flashes() %}
	{% for key, flash in app.session.flashes %}
		{{ _self.message(key, flash|nl2br ) }}
		{# fix remove flash manually #}
		{% if app.session.removeFlash(key) %}{% endif %}
	{% endfor %}
{% endmacro %}

{% macro render_backend_menu(navigation) %}
	{% set selected_category = null %}
	<div id="navigation">
		{% block navigation %}
		<div class="nav-bg">
			<div class="nav-wrapper">
				<div class="main-nav">
					<ul class="elements">
						{% for category in navigation.categories %}
							<li {% if category.active %}class="active"{% endif %}><a href="{{ path('backend_category', {'category': category.name|lower })}}"><b>{{ category.name }}</b></a></li>
							{% if category.active %}
								{% set selected_category = category %}
							{% endif %}
							{#<li><a href=""><b>Dashboard</b></a></li>
							<li class="active"><a href="#"><b>Modules</b></a></li>
							<li><a href="#"><b>Settings</b></a></li>#}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		{% if selected_category|default() %}
			<div class="nav-bg">
				<div class="nav-wrapper">
					<div class="sub-nav">
						<ul class="elements">
							{% for element in selected_category.elements %}
								<li {% if element.active %}class="active"{%endif%}><a href="{{ path(element.route)}}">{{ element.name }}</a></li>
							{% endfor %}
							{#<li><a href="#">Modul 2</a></li>
							<li><a href="#">Modul 3</a></li>
							<li class="active"><a href="#"><b>Modul 4</b></a></li>#}
						</ul>
					</div>
				</div>
			</div>
		{% endif %}
		<div class="clear"></div>
		{% endblock %}
	</div>
	<div class="clear"></div>
{% endmacro %}