<h1>NewsCategory edit</h1>

<form action="{{ path('newscategory_update', { 'id': main_content['entity'].id }) }}" method="post" {{ form_enctype(main_content['edit_form']) }}>
    {{ form_widget(main_content['edit_form']) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('newscategory') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('newscategory_delete', { 'id': main_content['entity'].id }) }}" method="post">
            {{ form_widget(main_content['delete_form']) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
