<h1>NewsCategory list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Id</th>
            <th>Createdate</th>
            <th>Updatedate</th>
            <th>Hidden</th>
            <th>Deleted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in main_content['entities'] %}
        <tr>
            <td><a href="{{ path('newscategory_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.id }}</td>
            <td>{% if entity.createDate %}{{ entity.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updateDate %}{{ entity.updateDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.hidden }}</td>
            <td>{{ entity.deleted }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('newscategory_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('newscategory_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('newscategory_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
