<script>
    function hideMessage(type) {
        document.getElementsByClassName(type)[0].style.display="none";
    }
</script>

<div id="page-heading">
    <h1>News Category</h1>
</div>

<div class="content-box-outer">
    <div class="content-box">
        <div class="content-box-content">
            {% if main_content['status'] and main_content['message'] != "" %}
                            <div class="message success">
                                <div class="content"> {{ main_content['message'] }} </div>
                                <div class="close">
                                    <a href="javascript:hideMessage('success')">
                                        <img alt="close" src="/ProjectX/web/bundles/coreentrance/images/table/icon_close_success.gif">
                                    </a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        {% elseif not main_content['status'] and main_content['message'] != "" %}
                            <div class="message error">
                                <div class="content"> {{ main_content['message'] }} </div>
                                <div class="close">
                                    <a href="javascript:hideMessage('error')">
                                        <img alt="close" src="/ProjectX/web/bundles/coreentrance/images/table/icon_close_error.gif">
                                    </a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        {% endif %}
            <div class="col">
                <table class="table record_properties">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ main_content['entity'].name }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ main_content['entity'].description }}</td>
                        </tr>
                        <tr>
                            <td>Createdate</td>
                            <td>{{ main_content['entity'].createDate|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <td>Updatedate</td>
                            <td>{{ main_content['entity'].updateDate|date('Y-m-d H:i:s') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <a href="{{ path('newscategory') }}" class="icon icon-check info-tooltip" title="Back to list"></a>
                <a href="{{ path('newscategory_edit', { 'id': main_content['entity'].id }) }}" class="icon icon-edit info-tooltip" title="Edit"></a>
                <form action="{{ path('newscategory_delete', { 'id': main_content['entity'].id }) }}" method="post">
                    {{ form_widget(main_content['delete_form']) }}
                    <a type="submit" href="{{ path('newscategory_delete', { 'id': main_content['entity'].id }) }}" class="icon icon-delete info-tooltip" title="Delete"></a>
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
