<div id="page-heading">
    <h1>NewsCategory edit</h1>
</div>

<div class="content-box-outer">
	<div class="content-box">
		<div class="content-box-content">
                    {{ macros.render_flashes() }}
                    <div class="col">                        
			<form class="form" action="{{ path('newscategory_update', { 'id': main_content['entity'].id }) }}" method="post" {{ form_enctype(main_content['form']) }}>
				<div id="system_newsbundle_newstype">
					{% for element in main_content['form'] %}
						<div class="col">
							{{ form_row(element) }}
						</div>
						<div class="clear"></div>
					{% endfor %}
				</div>
				<div class="col no-label">
					<input type="submit" value="Update" />
					<a href="{{ path('newscategory_delete', { 'id': main_content['entity'].id }) }}" class="button">Delete</a>
					<a href="{{ path('newscategory') }}" class="button">Back</a>
				</div>
				<div class="clear"></div>
			</form>
                    </div>
		</div>
	</div>
</div>
