<div id="page-heading">
	<h1>Titel von Formulartest</h1>
</div>

<div class="content-box-outer">
	<div class="content-box">
		<div class="content-box-content">
			<form action="{{ path('news_create') }}" method="post" class="form" {{ form_enctype(main_content['form']) }}>
                            <div id="system_newsbundle_newstype">
                                <div class="col">
                                    <label>Title:</label>
                                    <input type="text" id="system_newsbundle_newstype_title" name="system_newsbundle_newstype[title]" required="required" />
                                </div>
                                <div class="col">
                                    <label>Subtitle:</label>
                                    <input type="text" id="system_newsbundle_newstype_subtitle" name="system_newsbundle_newstype[subtitle]" required="required" />
                                </div>
                                <div class="clear"></div>
                                <div class="col">
                                    <label>Content:</label>
                                    <textarea id="system_newsbundle_newstype_content" name="system_newsbundle_newstype[content]" required="required"></textarea>
                                </div>
                                <div class="clear"></div>
                                <div class="col">
                                    <label>Startdate:</label>
                                    <input type="datetime" id="system_newsbundle_newstype_startdate" name="system_newsbundle_newstype[startdate]" />
                                </div>
                                <div class="col">
                                    <label>Enddate:</label>
                                    <input type="datetime" id="system_newsbundle_newstype_enddate" name="system_newsbundle_newstype[enddate]" />
                                </div>
                                <div class="clear"></div>
                                <div class="col">
                                    <label>Allow Comments:</label>
                                    <input type="checkbox" class="icon_cb icon-checkbox" id="system_newsbundle_newstype_commentsAllowed" name="system_newsbundle_newstype[commentsAllowed]" />
                                </div>
                                <div class="col">
                                    <label>Publish:</label>
                                    <input type="checkbox" id="system_newsbundle_newstype_published" name="system_newsbundle_newstype[published]" />
                                </div>
                                <div class="clear"></div>
                                <div class="col">
                                    <label>News Category:</label>
                                    <select id="system_newsbundle_newstype_newsCategory" name="system_newsbundle_newstype[newsCategory]" required="required">
                                        {% set i=1 %}
                                        {% for newsCategory in main_content['newsCategories'] %}
                                            <option value={{ i }}>{{ newsCategory.name }}</option>
                                            {% set i=i+1 %}
                                        {% endfor %}    
                                    </select>      
                                </div>
                                <div class="clear"></div>
                            </div>
                        <p>
                            <button type="submit">Create</button>
                        </p>
                    </form>

                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('news') }}">
                                Back to the list
                            </a>
                        </li>
                    </ul>
		</div>
	</div>
</div>