<h1>News</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Title</th>
            <td>{{ main_content['entity'].title }}</td>
        </tr>
        <tr>
            <th>Subtitle</th>
            <td>{{ main_content['entity'].subtitle }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ main_content['entity'].content }}</td>
        </tr>
        <tr>
            <th>Startdate</th>
            <td>{{ main_content['entity'].startDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Enddate</th>
            <td>{{ main_content['entity'].endDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Published</th>
            <td>{{ main_content['entity'].published }}</td>
        </tr>
        <tr>
            <th>Commentsallowed</th>
            <td>{{ main_content['entity'].commentsAllowed }}</td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ main_content['entity'].id }}</td>
        </tr>
        <tr>
            <th>Createdate</th>
            <td>{{ main_content['entity'].createDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedate</th>
            <td>{{ main_content['entity'].updateDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Hidden</th>
            <td>{{ main_content['entity'].hidden }}</td>
        </tr>
        <tr>
            <th>Deleted</th>
            <td>{{ main_content['entity'].deleted }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('news') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('news_edit', { 'id': main_content['entity'].id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('news_delete', { 'id': main_content['entity'].id }) }}" method="post">
            {{ form_widget(main_content['delete_form']) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
